.profile-card {
    display: flex;
    align-items: center;
    background-color: #0B0C10;
    border: .0625rem solid #66FCF1;
    padding: 1.5rem;
    width: 100%;
    height: 25rem;
    max-width: 37.5rem;
    margin-bottom: 5rem;
    position: relative;

    img {
        width: 11.25rem;
        height: auto;
        margin-right: 1.5rem;
    }

    .main-source {
        color: #66FCF1;
        position: absolute;
        bottom: .625rem;
        right: .625rem;
        font-size: 0.8rem;
    }

    .profile-info {
        display: flex;
        flex-direction: column;
        h2 {
            color: #66FCF1;
            font-weight: 400;
            text-align: center;
        }

        p {
            font-size: 1.2rem;
            font-weight: 400;
        }

        .team-logo {
            width: 1.5625rem;
            height: 1.5625rem;
            margin-left: 0.5rem;
            object-fit: contain;
        }
    }
}