.home {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;

  .matches-widget {
    width: 100%;
  }

  .news-widget,
  .tournaments {
    width: calc(65% - 1rem);
  }

  .players-widget,
  .commands-widget {
    width: calc(35% - 1rem);
  }
}