.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  background-color: #1E262F;
  width: 100%;
  box-sizing: border-box;

  img {
    width: 150px;
    height: auto;
    flex-shrink: 0;
  }

  .nav {
    display: flex;
    gap: 1rem;
    background: #0B0C10;
    border: 1px solid #45A29E;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    max-width: 100%;
    overflow-x: auto;

    a {
      color: #00ffdd;
      text-decoration: none;
      padding: 0.5rem 1rem;
      border-radius: 8px;
      transition: 0.3s ease;

      &:hover {
        color: #ffffff;
      }
    }
    .active-link {
      background-color: #1F2833D9;
      border: 2px solid #45A29E;
      border-radius: 12px;
      padding: 0.5rem 0.3rem;
      color: #00ffdd;
      font-weight: bold;
    }
  }

  .login-btn {
    padding: 1rem 1rem;
    background: #0B0C10;
    border: 1px solid #45A29E;
    color: #00ffdd;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    flex-shrink: 0;

    &:hover {
      background-color: #00ffdd;
      color: #1E262F;
    }
  }
}