.stats-card {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #0B0C10;
    border: .0625rem solid #66FCF1;
    padding: 1.5rem;
    margin-bottom: 0;
    width: 100%;
    max-width: 37.5rem;
    gap: 1rem;
    min-height: 9.375rem;
    

    span {
        color: #66FCF1;
       
    }

    .stat-item {
        display: flex;
        justify-content: space-between;
        
    }
    .stat-item:nth-child(2) {
        margin-left: 1rem; 
    }
    .stat-item:nth-child(4) {
        margin-left: 1rem; 
    }
    .stat-item:nth-child(6) {
        margin-left: 1rem; 
    }

    .add-source {
        position: absolute;
        color: #66FCF1;
        bottom: 0rem;
        right: .625rem;
        font-size: 0.8rem;
    }
}
