.team-card {
    position: relative;
    width: 7.5rem;
    height: 8.75rem;
    display: flex;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #1F2833D9;
    padding: .625rem;
    border: .0625rem solid #45A29E;
    box-shadow: 0 .25rem .375rem rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out;
    &:hover {
        box-shadow: 0 .375rem .75rem rgba(69, 162, 158, 0.6); 
    }
    &:visited {
        color: #66FCF1;
    }
    .team-logo {
        max-width: 5rem;
        max-height: 5rem;
        object-fit: contain;
    }
    li{
        text-decoration: none;
        a{
            text-decoration: none !important;
        }
    }

    .team-name {
        margin-top: .5rem;
        font-size: .875rem;
        font-weight: bold;
        color: #66FCF1;
        text-align: center;
        text-decoration: none;
    }
}