.players-list {
    background-color: #0B0C10;
    color: #66FCF1;
    border: .0625rem solid #45A29E;
    border-radius: .75rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: 100%;
    height: 35rem;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    overflow: hidden;

    .title {
        text-align: left;
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 1rem;
        margin: 0.5rem 0rem 1rem 0rem;
    }

    .content {
        width: 100%;
        overflow-x: auto;
    }

    .player-header {
        display: flex;
        justify-content: space-between;
        background-color: #201E2F;
        border: .0625rem solid #45A29E;
        color: #66FCF1;
        font-weight: bold;
        padding: 0.5rem;
        border-radius: .5rem;
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
        font-weight: 400;
    }

    .player-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem 0;
        border-bottom: .1875rem solid #45A29E;

        &:last-child {
            border-bottom: none;
        }

        .player-info {
            display: flex;
            align-items: center;
            gap: 1rem;
            font-size: 1.5rem;
            font-weight: 400;

            .icon {
                width: 1.5rem;
                height: 1.5rem;
            }
        }

        .rating {
            font-weight: bold;
            margin-right: 1rem;
        }
    }
}