.tournamentsPage {
    padding: 2rem;
}  
.page-upcoming-tournaments {
    padding: 0rem 10rem 1.25rem 10rem;
    background-color: #0B0C10;
    border: .0625rem solid #45A29E;
    color: #66FCF1;

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: .9375rem;
      max-height: 45em; 
      overflow-y: auto; 
      scrollbar-width: thin;  
      scrollbar-color: #45A29E transparent; 
    }
    
    
  }
  